<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="api">
        <dir
          name="AnswerAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="AssessmentAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="CategoryAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="CheckpointAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="LoginAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="MaturityAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="RecommendationAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="ScoreAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="SubareaAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="TeamAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="TemplateAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="TopicAPI">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="UserAPI">
          <dir
            name="__test__"/>
        </dir>
      </dir>
      <dir
        name="app">
        <dir
          name="__test__"/>
      </dir>
      <dir
        name="components">
        <dir
          name="ButtonInverted">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="ButtonRegular">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="Cards">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="Checkpoint">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="Dialog"/>
        <dir
          name="ErrorPopup"/>
        <dir
          name="Grids">
          <dir
            name="Generic"/>
          <dir
            name="Specific">
            <dir
              name="Answer"/>
            <dir
              name="Assessment">
              <dir
                name="AssessmentCompleted"/>
              <dir
                name="AssessmentOngoing"/>
            </dir>
            <dir
              name="Category"/>
            <dir
              name="Checkpoint"/>
            <dir
              name="Individual"/>
            <dir
              name="Maturity"/>
            <dir
              name="Member"/>
            <dir
              name="Recommendation"/>
            <dir
              name="Subarea"/>
            <dir
              name="Team"/>
            <dir
              name="Template"/>
            <dir
              name="Topic"/>
          </dir>
          <dir
            name="functions">
            <dir
              name="handlers"/>
            <dir
              name="helpers">
              <dir
                name="__test__"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="ListOfCheckpoints"/>
        <dir
          name="ListOfRecommendations">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="PageCard">
          <dir
            name="SpecificPageCards"/>
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="Sidebar">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="SignInUP"/>
        <dir
          name="Subarea">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="Textfield">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="TextfieldEdit">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="TextfieldEditWeight"/>
      </dir>
      <dir
        name="pages">
        <dir
          name="admin">
          <dir
            name="AdminInterface">
            <dir
              name="__test__"/>
          </dir>
          <dir
            name="ListOfIndividuals">
            <dir
              name="__test__"/>
          </dir>
          <dir
            name="templates">
            <dir
              name="Area">
              <dir
                name="__test__"/>
            </dir>
            <dir
              name="ListOfTemplates">
              <dir
                name="__test__"/>
            </dir>
            <dir
              name="Template">
              <dir
                name="__test__"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="assessor">
          <dir
            name="__test__"/>
        </dir>
        <dir
          name="evaluations">
          <dir
            name="Evaluation"/>
          <dir
            name="Feedback"/>
          <dir
            name="PDF">
            <dir
              name="helpers">
              <dir
                name="__test__"/>
            </dir>
            <dir
              name="helpersAPI"/>
            <dir
              name="pdf">
              <dir
                name="__test__"/>
            </dir>
            <dir
              name="tableHelpers">
              <dir
                name="__test__"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="teams">
          <dir
            name="Team">
            <dir
              name="__test__"/>
          </dir>
          <dir
            name="TeamList">
            <dir
              name="__test__"/>
          </dir>
        </dir>
        <dir
          name="user">
          <dir
            name="ListOfSelfEvals">
            <dir
              name="__test__"/>
          </dir>
          <dir
            name="UserInterface">
            <dir
              name="__test__"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="types"/>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
